* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/style/grisClaro0.jpeg);
    position: relative;
    padding-top: 110px;
    padding-bottom: 120px;
}

#bodyNosotros {
    background-image: url(../img/style/nuevoFondo0.jpeg);
    background-size: cover;
}

.botContacto {
    text-decoration: none;
    color: black;
    padding: 8px;
    border: 1px solid $color-ppal;
    font-family: 'Kanit', sans-serif;
}


.boton {
    padding-top: nth($list: $size, $n: 5);
    padding-bottom: nth($list: $size, $n: 5);
    transition: all 1s;
    &hover{
        transform: scale(1.6, 1);
    }
}


h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: nth($list: $size, $n: 7);
}

h2 {
    font-weight: bold;
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Oswald', sans-serif;
}

h3 {
    margin-top: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: nth($list: $size, $n: 5);
}

h4 {
    font-family: 'Kanit', sans-serif;
    padding-left: 3%;
    font-size: nth($list: $size, $n: 4);
    margin-top: 25px;
}

h5 {
    font-family: 'Kanit', sans-serif;
    padding-left: 3%;
}

.linea {
    background: $color-ppal;
    height: 3px;
    width: 70%;
    position: absolute;
    left: 15%;
    display: block;
    opacity: 50%;
}


@media screen and (max-width: 1070px) {
    body {
        padding-top: 86px;
        padding-bottom: 370px;
    }
    
    #bodyNosotros {
        padding-top: 86px;
        padding-bottom: 370px;
    }

    .linea {
        height: 2px;
        width: 50%;
        left: 25%;
    }

    h1 {
        font-size: nth($list: $size, $n: 9);
    }

    h2 {
        font-size: nth($list: $size, $n: 8);
    }

    h3 {
        font-size: nth($list: $size, $n: 4);
    }

    h4 {
        font-size: nth($list: $size, $n: 3);
    }

}
