img.logo {
    padding-left: 10%;
    height: 100px;
    align-self: center;
}

.footer {
    // background: rgb(18,64,142);
    // background: linear-gradient(180deg, rgba(18,64,142,0.01) 0%, rgba(41,97,182,0.9262298669467787) 15%, rgba(17,59,131,1) 100%, rgba(18,64,142,0.01) 100%);
//     background: rgb(18,64,142);
// background: linear-gradient(179deg, rgba(18,64,142,0.01) 0%, rgba(41,97,182,1) 10%, rgba(17,59,131,1) 85%, rgba(18,64,142,0.01) 100%);
    background-color: $color-ppal;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 110px;
    ul {
        margin-bottom: 0;
        list-style-type: none;
        justify-content: end;
    }
}

.footerContacto{
    height: 130px;
    position: absolute;
    top:140%;
}


.pFooter {
    display: none;
}

.logoFooter {
    height: nth($list: $size, $n: 7);
    width: auto;
    @include padd-H (nth($list: $size, $n: 1), nth($list: $size, $n: 4));

    // padding-left: nth($list: $size, $n: 1);
    // padding-right: nth($list: $size, $n: 4);
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}


.logoFooterCorreo {
    @include padd-H (nth($list: $size, $n: 2), nth($list: $size, $n: 6));
    padding-top: nth($list: $size, $n: 3);
    height: 36px;
    width: auto;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}

@media screen and (max-width: 1070px) {
    .footer {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 350px;
        ul{
            justify-content: center;
            padding-top: nth($list: $size, $n: 3);
        }
    }

    .footerContacto{
        // height: 130px;
        position: absolute;
        top:90%;
    }

    img.logo {
        @include padd-H (nth($list: $size, $n: 1), nth($list: $size, $n: 1));
        width: auto;
    }

    .pFooter {
        display: block;
        color: white;
    }
}