img.logo {
    padding-left: 10%;
    height: 100px;
    align-self: center;
}

.footer {
 
    background-color: $color-ppal;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 110px;

    // USO DE MAPA $ulFooter
    ul {
        margin-bottom: map-get($map: $ulFooter, $key: marg-bot);
        list-style-type: map-get($map: $ulFooter, $key: list-style);
        justify-content: map-get($map: $ulFooter, $key: jus-content);
    }
}

.footerContacto{
    height: 130px;
    top:100%;
}


.pFooter {
    display: none;
}

.logoFooter {
    height: nth($list: $size, $n: 7);
    width: auto;
    @include padd-H (nth($list: $size, $n: 1), nth($list: $size, $n: 4));
    // padding-left: nth($list: $size, $n: 1);
    // padding-right: nth($list: $size, $n: 4);
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}


.logoFooterCorreo {
    @include padd-H (nth($list: $size, $n: 2), nth($list: $size, $n: 6));
    padding-top: nth($list: $size, $n: 3);
    height: 36px;
    width: auto;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}

@media screen and (max-width: 1100px) {
    .footer {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 350px;
        ul{
            justify-content: center;
            padding-top: nth($list: $size, $n: 3);
        }
    }

    .footerContacto{
        // height: 130px;
        position: absolute;
        top:70%;
    }

    img.logo {
        @include padd-H (nth($list: $size, $n: 1), nth($list: $size, $n: 1));
        width: auto;
    }

    .pFooter {
        display: block;
        color: white;
    }
}