img.logo {
    padding-left: 10%;
    height: 100px;
    align-self: center;
}

.footer {
    background-color: $color-ppal;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 110px;
    ul {
        margin-bottom: 0;
        list-style-type: none;
        justify-content: end;
    }
}

.footerContacto{
    height: 130px;
}


.pFooter {
    display: none;
}

.logoFooter {
    height: nth($list: $size, $n: 7);
    width: auto;
    padding-left: nth($list: $size, $n: 1);
    padding-right: nth($list: $size, $n: 4);
    transition: 0.5s;
    &hover{
        transform: scale(1.2);
    }
}


.logoFooterCorreo {
    padding-left: nth($list: $size, $n: 2);
    padding-right: nth($list: $size, $n: 6);
    padding-top: nth($list: $size, $n: 3);
    height: 36px;
    width: auto;
    transition: 0.5s;
    &hover{
        transform: scale(1.2);
    }
}

@media screen and (max-width: 1070px) {
    .footer {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 350px;
        ul{
            justify-content: center;
            padding-top: nth($list: $size, $n: 3);
        }
    }

    img.logo {
        padding-left: nth($list: $size, $n: 1);
        padding-right: nth($list: $size, $n: 1);
        width: auto;
    }

    .pFooter {
        display: block;
        color: white;
    }
}