.formulario {
    @extend %form;
    padding-top: 30px;
}


.formContacto {
    @extend %form;
    padding-top: 80px;
}

.lineaContacto {
    font-size: nth($list: $size, $n: 8);
    font-family: 'Oswald', sans-serif;
    padding-bottom: 80px;
}

.miFormControl:focus {
    box-shadow: 0 0 0 0.2rem rgba(173, 183, 225, 0.25);
    border: nth($list: $size, $n: 1);
}

.miBoton {
    background-color: $color-ppal;
    color: #ffffff;
    border: 1px solid $color-ppal;
    border-radius: 5px;
    padding: nth($list: $size, $n: 2) nth($list: $size, $n: 4);
    font-size: 16px;
}


.input-group {
    height: 120px;
    padding-top: nth($list: $size, $n: 2);
    padding-bottom: nth($list: $size, $n: 4);
}

@media screen and (max-width: 576px) {

    .formContacto,
    .miFormControl {
        font-size: nth($list: $size, $n: 10);
    }

    .miBoton {
        padding: 3px 10px;
        font-size: nth($list: $size, $n: 10);
    }

    .miInputMensaje {
        font-size: nth($list: $size, $n: 10);
    }

    .lineaContacto {
        font-size: nth($list: $size, $n: 10);
        font-family: 'Oswald', sans-serif;
    }

    .formulario {
        font-size: nth($list: $size, $n: 10);
    }
}