.formulario {
    @extend %form;
    padding-top: 30px;
}

.sectionContacto{
    position: relative; 
}
.formContacto {
    @extend %form;
    padding-top: 40px;
    border: 1px solid $color-ppal;
    position: absolute;
    background-color: lighten(rgba(204, 201, 201, 0.361), 20%);
    top:85%;
    left: 50%;
    transform: translate(-50%,-15%);
    
}

.lineaContacto {
    position: absolute;
    top:190%;
    transform: translate(0,-50%);
    @include fontMixin (nth($list: $size, $n: 8), ('Oswald', sans-serif));

    // font-size: nth($list: $size, $n: 8);
    // font-family: 'Oswald', sans-serif;
    
}

.imgContacto{
   opacity: 0.4;
   margin-top: 90px;
}

.divImagenContacto{
    height: 500px;
    background: rgb(18,64,142);
    background: linear-gradient(0deg, rgba(18,64,142,0.01) 0%, rgba(18,64,142,0.01) 8%, rgba(41,97,182,0.9262298669467787) 69%, rgba(17,59,131,1) 99%);
    // background-position: 50%10%;
    background-size: cover;
}

.miFormControl:focus {
    box-shadow: 0 0 0 0.2rem rgba(173, 183, 225, 0.25);
    border: nth($list: $size, $n: 1);
}

.miBoton {
    background-color: $color-ppal;
    color: #ffffff;
    border: 1px solid $color-ppal;
    border-radius: 5px;
    padding: nth($list: $size, $n: 2) nth($list: $size, $n: 4);
    font-size: 16px;
}


.input-group {
    height: 120px;
    @include padd-V (nth($list: $size, $n: 2), nth($list: $size, $n: 4));

    // padding-top: nth($list: $size, $n: 2);
    // padding-bottom: nth($list: $size, $n: 4);
}
.inputArchivo{
    padding-bottom: 30px;
}

@media screen and (max-width: 1024px) {

    .formContacto,
    .miFormControl {
        font-size: nth($list: $size, $n: 10);
    }

    .formContacto{
        transform: translate(-50%,-10%);
        border: 2px solid $color-ppal;
    }

    .miBoton {
        padding: 3px 10px;
        font-size: nth($list: $size, $n: 10);
    }

    // .inputArchivo{
    //     padding-bottom: 300px;
    // }
    .miInputMensaje {
        font-size: nth($list: $size, $n: 10);
    }

    .lineaContacto {
        // font-size: nth($list: $size, $n: 10);
        // font-family: 'Oswald', sans-serif;
        display: none;
    }

    .imgContacto{
        height: auto;
    }

    .formulario {
        font-size: nth($list: $size, $n: 10);
    }
}