.content_img {
    margin: 1em 0;
    position: relative;
}

.content_img {
    img {
        // display: block;
        max-height: 460px;
        bottom: 0;
        object-fit: cover;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);

        &:hover {
            filter: blur(1px);
            border: 1px solid rgba(140, 140, 141, 0.938);
        }
    }

    &:hover {
        .img-text {
            padding: 8px 10px;
            visibility: visible;
            opacity: 1;
        }
    }
}

.img-text {
    position: absolute;
    bottom: nth($list: $size, $n: 2);
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(145, 145, 145, 0.65);
    color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    font-family: 'Oswald', sans-serif;
    font-size: nth($list: $size, $n: 5);
}



.trabajo {
    background-image: url(../img/style/grisClaro0.jpeg);

    section {
        padding-bottom: 3%;
    }
}

// .botonMobile{
//     display: none;
// }
.divCuartaImg {
    display: block;
}

.divPrimeraImagen {
    display: none;
}

.divBotonDesktop {
    display: none;
}

.miBotonGaleria {
    padding: 8px 5px;
    border-bottom: 1px solid $color-ppal;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    transition: opacity 1s;
}

#collapseCheckboxVM {
    display: none;
}

#collapseCheckboxVU {
    display: none;
}

.collapse {
    display: none;
}

// #collapseCheckboxVM {
//     &:checked~.miCollapseVM {
//         display: flex;
//         opacity: 1;
//     }
// }

#collapseCheckboxVM {
    // transition: all 10s ease-in;
    &:checked{
        ~.miCollapseVM {
            display: flex;
        }
    }
    
}

// #collapseCheckboxVU {
//     &:checked~.miCollapseVU {
//         display: flex;

//     }
// }

#collapseCheckboxVU {
    &:checked {
        ~.miCollapseVU {
            display: flex;
        }
    }

}

#collapseCheckboxVM {
    &:checked{
        +.miBotonGaleria {
            display: none;
        }
    }
}

#collapseCheckboxVU {
    &:checked{
        +.miBotonGaleria {
            display: none;
        }
    }
}


// #collapseCheckboxVU:checked+.miBotonGaleria {
//     display: none;
// }

@media screen and (max-width: 576px) {

    .miBotonGaleria {
        font-size: 12px;
    }

    .divPrimeraImagenVM {
        display: block;
    }

    .divCuartaImgVM {
        display: none;
    }

    .content_img {
        div {
            img {
                max-height: 173px;
            }
        }
    }

    .img-text {
        font-size: nth($list: $size, $n: 3);
        width: 60%;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .content_img {
        div {
            img {
                max-height: 280px;
            }
        }
    }

    .miBotonGaleria {
        font-size: 12px;
    }

    .divPrimeraImagenVM {
        display: block;
    }

    .divCuartaImgVM {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .content_img {
        div {
            img {
                max-height: 340px;
            }
        }
    }

    .miBotonGaleria {
        font-size: 12px;
    }

    .divPrimeraImagenVM {
        display: block;
    }

    .divCuartaImgVM {
        display: none;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .content_img {
        div {
            img {
                max-height: 340px;
            }
        }
    }

    .miBotonGaleria {
        font-size: 14px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .content_img {
        div {
            img {
                max-height: 380px;
            }
        }
    }

    .miBotonGaleria {
        font-size: 14px;
    }
}