header {
    width: 100%;
    background-image: url(../img/style/grisClaro.jpeg);
    background-size: cover;
    position: absolute;
    top: 0;
    height: 110px;
    nav {
        ul {
            li {
                @include padd-H (3px, nth($list: $size, $n: 5));
                .navBar-mio {
                    font-family: 'Oswald', sans-serif;
                    color: black;
                    font-size: nth($list: $size, $n: 11);
                }
            }

        }
    }
}

img.logoHeader {
    padding-left: 10%;
    height: 100px;
    align-self: center;
}



.header_index {
    background-image: url(../img/grisClaro0.jpeg);
}

.headerMovil {
    display: none;
}


@media only screen and (max-width: 1100px) {
    header {
        justify-content: center;
        // height: auto;
    }
    
    .headerWeb {
        display: none;
    }

    .headerMovil {
        display: block;
        height: 80px;
    }
    .miNavBarToggler {
        border: none;
        outline: none;
        box-shadow: none;
        &:focus{
            border: none;
            outline: none;
            box-shadow: none;
        }
      }
    .navbar-toggler-icon {
        transform: scale(0.7); /* Ajusta el valor según tus necesidades */
    }
    #offcanvasNavbar{
        width: 300px;
    }
    .navBar-movil {
        background-image: url(../img/style/grisClaro.jpeg);
        height: 80px;
    }
    .navBar-movilIndex {
        background-image: url(../img/style/grisClaro0.jpeg);
    }

    img.logoHeader {
        height: nth($list: $size, $n: 7);
    }
}

