#index_main {
    background-image: url(../img/style/index3.jpeg);
    padding-top: 7%;
    padding-bottom: 10%;
}

.wrapper {
    width: 60%;
    margin: auto;
    font-size: nth($list: $size, $n: 4);
    padding-top: nth($list: $size, $n: 2);
    font-family: 'Kanit', sans-serif;
}

.clientes {
    ul {
        list-style-type: none;

        li {
            padding: 20px;
        }
    }
}

.carousel {
    padding-top: 2%;
    padding-bottom: 5%;
}

.item-mio {
    img {
        height: 90px;
        width: 100%;
        object-fit: cover;
    }
}

.carruselMovil {
    display: none;
}


@media screen and (max-width: 576px) {
    .wrapper {
        font-size: nth($list: $size, $n: 3);
    }

    .carruselWeb {
        display: none;
    }

    .carruselMovil {
        display: block;
    }

    .item-mio {
        img {
            height: 70px;
            width: 100%;
            object-fit: contain;
        }
    }

}