.mainNosotros {
    p {
        text-align: center;
        padding-top: nth($list: $size, $n: 5);
        // font-size: large;
        // font-family: 'Kanit', sans-serif;
        @include fontMixin (large, ('Kanit', sans-serif));
        font-weight: bold;
    }
}

.mainNosotros {
    width: 100%;
    @include padd-V (2%, 8%);
}


@media screen and (max-width: 576px) {
    .mainNosotros {
        p {
            font-size: nth($list: $size, $n: 3);
        }
    }
}